@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
  box-sizing: border-box;
}
body{
  font-family: 'Outfit', sans-serif; /* Ensure correct font-family syntax */
  background: rgb(3, 0, 31);
  color: white;
}